
<!---About page starts here--->


<h1 style="color: white; text-align:center">About page</h1>
{{!-- <div style="display:flex; padding:20;"> </div> --}}


<div class="outer-container">
  <div
    class="card"
    
  >
    <div class="row-md-1">
    <img
      src="images/oneCardPic.jpg"
      style="border-radius: 20px; margin:10px;height:auto"
      width="200"  
    />
    </div>
    <div class="col-md-5" >
      <div class="card-body" style="color: #818181;">
        <h5 class="card-title" style="color:white">Student Name:Harpreet Singh</h5>
        <h6 class="card-title">Studying at Conestoga waterloo campus</h6>
        <p class="card-text">Student of section C Msd.
            This is assignment 5 of web developmenti created using html css 
            and Node Express. </p>    
        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
      </div>
      
    </div>
    
  </div>
</div>
