<!--This is Contact me Form -->

<div class="row-sm">
  <h1 style="color: white; text-align:center">Contact</h1>
  <div class="contact-details-container">

    <div class="container">

      <!-- colorExample shades of white (#dae4ea) -->
      <form class="form-container">
        <div class="form-group">
          <label for="exampleInputEmail1" style="color:#818181">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            style="background-color:#212124;border:none;"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="exampleInputText" style="color:#818181">Message</label>
          <textarea
            type="text"
            class="form-control"
            id="exampleInputText"
            placeholder="Your Message"
            style="height: 150px;resize:none;background-color:#212124;border:none;"
          ></textarea>
        </div>
        <div class="form-group form-check" style="margin-top: 5px;">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label
            class="form-check-label"
            for="exampleCheck1"
            style="color:white; margin-top:3px;"
          >Subscribe for newsLetter</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

  </div>
</div>