{{!-- <h1 style="color: white;">{{title}}</h1>
<p style="color: white;">Welcome to {{title}}</p> --}}


<!---About page starts here--->


<div class="row-sm">
<h1 style="color: white; text-align:center">About page</h1>
{{!-- <div style="display:flex; padding:20;"> </div> --}}



<div class="outer-container">
  <div
    class="card"
    
  >
    <div class="row-md-1">
    <img
      src="images/oneCardPic.jpg"
      style="border-radius: 20px; margin:10px;height:auto"
      width="200"  
    />
    </div>
    <div class="col-md-5" >
      <div class="card-body" style="color: #818181;">
        <h5 class="card-title" style="color:white">Hi, i am Harpreet Singh</h5>
        <h6 class="card-title">
          Passonate, Hard working , tech savvy guy who wants to advance his career in software industry
          </h6>
        <p class="card-text">i have 1 year of experience in front end development at Catalyst One </p>    
        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
      </div>
      
    </div>
    
  </div>
</div>



<!--This is Projects page -->


<h1 style="color: white; text-align:center; margin-bottom:20px;">Projects</h1>


<div class="project-container">

    <div class ="outside-project-card">

    <div class="card">
    <img
      src="http://www.thewowstyle.com/wp-content/uploads/2015/01/WonderfulPlaceInCalifornia.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#!" class="btn btn-primary">Open</a>
    </div>
  </div>

  <!-- second Item --->
    <div class="card">
  <img
    src="https://cdn.onlyinyourstate.com/wp-content/uploads/2017/11/36400940966_2125114125_k.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>

<!-- Third Item --->
    <div class="card">
  <img
    src="https://www.amazingplacesonearth.com/wp-content/uploads/2012/09/Trolltuga.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>

<!-- fourth Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>

    <!-- Fifth Item --->
    <div class="card">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  

    <!-- sixth Item --->
    <div class="card">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  
  
  <!-- seventh Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  
  
  <!-- Eigth Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  
  
  <!-- Ninth Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  
  
  <!-- Tenth Item --->
    <div class="card">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  

    <!-- Eleven Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title" >Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  

    <!-- Twelve Item --->
    <div class="card" >
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">open</a>
  </div>
    </div>  
  
    </div>
</div>




<!--This is Contact me Form -->

<h1 style="color: white; text-align:center">Contact</h1>
<div class= "contact-details-container">

  <div
    class="container"
  >
    
    <!-- colorExample shades of white (#dae4ea) -->
    <form  class="form-container">
      <div class="form-group">
        <label for="exampleInputEmail1" style="color:#818181">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          style="background-color:#212124;border:none;"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="exampleInputText" style="color:#818181">Message</label>
        <textarea
          type="text"
          class="form-control"
          id="exampleInputText"
          placeholder="Your Message"
          style="height: 150px;resize:none;background-color:#212124;border:none;"
        ></textarea>
      </div>
      <div class="form-group form-check" style="margin-top: 5px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label
          class="form-check-label"
          for="exampleCheck1"
          style="color:white; margin-top:3px;"
        >Subscribe for newsLetter</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>

</div>