<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no; initial-scale=1.0,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <title>{{title}}</title>
    <!--- Css from bootswatch.com  --->
    {{!-- <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    

  <!---Bootstrap 4 Navigation Bar from W3schools.com --->
  <nav class="navbar  sticky-top navbar-expand-md navbar-dark" >
    <a class="navbar-brand" href="/"><img src="images/Logo.jpeg"  width="50" height="50"  alt="logo"/></a>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/">Home page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projectspage">Projects page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  href="contactme">Contact me</a>
      </li>
    </ul>
    
  </nav>

  </head>
    
    <body>
    
    
    
    
    <div class="header">
      <h1>Welcome to my Portfolio</h1>
    </div>
    

    {{{body}}}
          
   <!--- Footer -->
<footer> 
    
  <h3 style="font-weight: bold; color:white">You can find me on </h3>
   
      <div class="footerDiv">
          
          <a class="footerItem"  >
          <img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-512.png" alt=""/>
          </a>
          
          <a class="footerItem" href="#">
            <img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-512.png" alt=""/>
          </a>
        
          <a class="footerItem" href="#">
           <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-512.png" alt=""/>
          </a>
          
          <a class="footerItem" href="#">
            <img src="https://cdn1.iconfinder.com/data/icons/bootstrap-fill-vol-2/16/github-512.png" alt=""/>
          </a>
      
      </div>
  </footer>

          <!--- Here is the external js file -->
    <script src="/javascripts/active.js"></script>
    </body>
</html>
